.speech {
    font-family: Times;
    font-size: 15px;
    color: black;
}
.stage-direction {
    font-size: 15px;
    font-family: Arial;
    color: black;
    background-color: chartreuse;
}
.stage-direction:hover{
    background-color: coral;
    color: white;
}
.name {
    font-family: Times;
    font-size: 15px;
    color: black;
}
.oliver{
    color: blue;
}
.orlando{
    color: green;
}
.adam{
    color:yellow;
}
table, th, td {
    color:violet;
    border:2px solid grey;
    text-align: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
table{
    width: 40%;
    border-collapse: collapse;
}